[submodule "Rank00/Libft-v7"]
	path = Rank00/42-CommonCore-Libft
	url = https://github.com/100tfko/42-CommonCore-Libft.git
[submodule "Rank01/Born2beroot"]
	path = Rank01/42-CommonCore-Born2beroot
	url = https://github.com/100tfko/42-CommonCore-Born2beroot.git
[submodule "Rank01/Ft_printf"]
	path = Rank01/42-CommonCore-ft_printf
	url = https://github.com/100tfko/42-CommonCore-ft_printf.git
[submodule "Rank01/Get_next_line"]
	path = Rank01/42-CommonCore-get_next_line
	url = https://github.com/100tfko/42-CommonCore-get_next_line.git
[submodule "Rank02/42-CommonCore-push_swap"]
	path = Rank02/42-CommonCore-push_swap
	url = https://github.com/100tfko/42-CommonCore-push_swap.git
[submodule "Rank02/42-CommonCore-pipex"]
	path = Rank02/42-CommonCore-pipex
	url = https://github.com/100tfko/42-CommonCore-pipex.git
[submodule "Rank02/42-CommonCore-fract-ol"]
	path = Rank02/42-CommonCore-fract-ol
	url = https://github.com/100tfko/42-CommonCore-fract-ol.git
[submodule "Rank03/42-CommonCore-Philosophers"]
	path = Rank03/42-CommonCore-Philosophers
	url = https://github.com/100tfko/42-CommonCore-Philosophers.git
[submodule "Rank03/42-CommonCore-minishell"]
	path = Rank03/42-CommonCore-minishell
	url = https://github.com/100tfko/42-CommonCore-minishell.git
[submodule "Rank04/42-CommonCore-cub3d"]
	path = Rank04/42-CommonCore-cub3d
	url = https://github.com/100tfko/42-CommonCore-cub3d.git
[submodule "Rank04/42-CommonCore-NetPractice"]
	path = Rank04/42-CommonCore-NetPractice
	url = https://github.com/100tfko/42-CommonCore-NetPractice.git
[submodule "Rank04/42-CommonCore-CPP"]
	path = Rank04/42-CommonCore-CPP
	url = https://github.com/100tfko/42-CommonCore-CPP.git
[submodule "Rank05/42-CommonCore-CPP"]
	path = Rank05/42-CommonCore-CPP
	url = https://github.com/100tfko/42-CommonCore-CPP.git
[submodule "Rank05/42-CommonCore-ft_irc"]
	path = Rank05/42-CommonCore-ft_irc
	url = https://github.com/100tfko/42-CommonCore-ft_irc.git
[submodule "Rank05/42-CommonCore-Inception"]
	path = Rank05/42-CommonCore-Inception
	url = https://github.com/100tfko/42-CommonCore-Inception.git
